@model IEnumerable<Api.Models.TaxValue>

@{
    ViewData["Title"] = "Tax Calc";
}

<div class="text-center">
    <h1 class="display-4">Tax Calc</h1>
    
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>CreateDate</th>
            <th>Name</th>
            <th>PostalCode</th>
            <th>Income</th>
            <th>Tax</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Id</td>
            <td>@item.CreateDate.ToString("yyyy-MMM-dd HH:mm")</td>
            <td>@item.Name</td>
            <td>@item.PostalCode</td>
            <td>@item.Income.ToString("0.00")</td>
            <td>@item.Tax.ToString("0.00")</td>            
        </tr>
}
    </tbody>
</table>

<p>
    <form id="Create" action="Create">        
        <div class="form-group">
            <span>Name</span>
            <input id="Name" name="Name" class="form-control" />
        </div>
        <div class="form-group">
            <span>Postal Code</span>
            <input id="PostalCode" name="PostalCode" class="form-control" />            
        </div>
        <div class="form-group">
            <span>Income</span>
            <input id="Income" name="Income" class="form-control" />            
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-primary" value="Add" onclick="add();"/>
        </div>
    </form>
</p>
<script>
    function add(){
        if (isNaN($("#Income").val()))
        {
            alert("Income should be numeric");
            return false;
        }
        data = $("#Create").serialize();
        console.log(data); 
        $.ajax({
            // Add new income
            url: "Home/Create",
            type: "POST",
            data: data,
            success: function (data) {
                location.reload();
                console.log("ok");
            },
            error: function (error) {              
                alert(error.responseText);
        }
    });
    }
</script>
